@import url(https://fonts.googleapis.com/css2?family=Bellefair&display=swap);
@import url(https://fonts.googleapis.com/css2?family=BarlowCondensed&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Barlow&display=swap);


*,*::before,*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --belleFair-font: "Bellefair", serif;
    --barlow-font: "Barlow", sans-serif;
    --barlowCondensed--font: "Barlow Condensed", sans-serif;

    --dark-color: hsl(230, 35%, 7%);
    --fog-color: hsl(231, 77%, 90%);
    --white-color: hsl(0, 0%, 100%);
    --half-trans: rgba(255, 255, 255, 0.5);
}

section.destination {
    min-height: 100vh;
    width: 100%;
    padding: 100px 20px 0 20px;
    background: url('/assets/destination/background-destination-tablet.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


section.destination .destination__img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section.destination .destination__img-box h1.img-box__heading {
    margin-bottom: 3.75rem;
    text-transform: uppercase;
    align-self: flex-start;
    text-align: left;
    font-family: var(--barlowCondensed--font);
    font-weight: 400;
    color: var(--white-color);
}

section.destination .destination__img-box h1.img-box__heading > span {
    color: var(--half-trans);
}

section.destination .destination__img-box img#destination__img {
    width: 19rem;
 }


 section.destination .destination__content {
    margin: 0 auto;
    text-align: center;
    max-width: 576px;
}

section.destination .destination__content .destination__navbar {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    grid-gap: 2.2rem;
}

section.destination .destination__content .destination__navbar a.navbar__link 
{
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--barlowCondensed--font);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 2.7px;
    text-align: center;
    margin-top: 1.8rem;
    padding-bottom: 0.9rem;
    position: relative;
    display: inline-block;
}

section.destination .destination__content .destination__navbar a.navbar__link::after {
    content: "";
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 3px;
    background: var(--white-color);
    bottom: 0; left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: .4s ease-out;
}

section.destination .destination__content .destination__navbar a.navbar__link:hover::after,
section.destination .destination__content .destination__navbar a.navbar__link:focus::after {
    transform: scaleX(100%);
}

section.destination .destination__content .destination__navbar a.navbar__link:focus::before {
    transform: scaleX(100%);
}


section.destination .destination__content h1#destination__title {
    font-family: var(--belleFair-font);
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 1.6rem;
}

section.destination .destination__content p#destination__desc {
    line-height: 1.7;
    color: var(--fog-color);
    margin: .7rem auto 3rem;
}


section.destination  .destination__content .destination__stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--white-color);
    padding-top: 1.8rem;
    margin-bottom: 2.2rem;
}


section.destination .destination__content .destination__stats h5 {
    font-family: var(--barlowCondensed--font);
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 2.5px;
    color: var(--fog-color);
}

section.destination .destination__content .destination__stats h6 {
    font-family: var(--belleFair-font);
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.75rem;
    color: var(--white-color);
    margin-top: .75rem;
}



/*  RWD FOR VERY SMALL MOBILE DEVICES   */
@media (max-width: 22.5rem) {
    section.destination {
        width: 100%;
        padding: 100px 0;
    }
    
    section.destination .destination__content .destination__navbar {
        grid-gap: .5rem;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: red;
    }
    
    section.destination .destination__content {
        max-width: 100%;
    }

    section.destination .destination__content h1#destination__title {
        font-size: 3.2rem;
        margin: 2rem auto 1rem;
    }
}
    


/* RWD FOR TABLET */
@media (min-width: 26.65rem) and (max-width: 48rem) {
    section.destination {
        padding: 8.5rem 2.375rem 0 2.375rem;
        background: url('/assets/destination/background-destination-tablet.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section.destination .destination__img-box h1.img-box__heading {
        margin-bottom: 3.75rem;
        align-self: flex-start;
        text-align: left;
    }

    section.destination .destination__img-box img#destination__img {
        width: 19rem;
    }


    section.destination .destination__content {
        margin: 1.7rem auto 0;
        text-align: center;
        max-width: 576px;
    }

    section.destination .destination__content h1#destination__title {
        font-size: 5.3rem;
        margin-top: 1.6rem;
    }

    section.destination .destination__content p#destination__desc {
        text-align: center;
        font-size: 1.05rem;
        line-height: 1.7;
        margin: .7rem auto 3rem;
        max-width: 100vw;
        padding-bottom: 3.0625rem;

    }

    section.destination .destination__content .destination__stats {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin: 0 auto 2.2rem;
        min-width: 100%;
    }

    section.destination .destination__content .destination__stats > div {
        margin-bottom: 2rem;
    }
}



/*  RWD FOR DESKTOP   */
@media (min-width: 48rem) {
    section.destination {
        width: 100%;
        padding: 8.5rem 2rem 0;
        background: url('/assets/destination/background-destination-desktop.jpg');
        /* background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */

        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }


    section.destination .destination__img-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: fit-content;
    }

    section.destination .destination__img-box h1.img-box__heading {
        text-align: left;
        font-size: 1.8rem;
        margin-bottom: 3.75rem;
        margin-right: 8.5rem;
    }

    section.destination .destination__img-box h1.img-box__heading > span {
        color: var(--half-trans);
        padding-right: .9rem;
    }

    section.destination .destination__img-box img#destination__img {
        width: 26.2rem;
    }


    section.destination .destination__content {
        margin: 1.7rem 0 0;
        text-align: left;
        max-width: 27.8125rem;
    }

    section.destination .destination__content .destination__navbar {
        justify-content: left;
        align-items: center;
    }

    section.destination .destination__content h1#destination__title {
        font-size: 6.25rem;
        text-align: left;
        margin-top: 2.4rem;
    }

    section.destination .destination__content p#destination__desc {
        font-family: var(--barlow-font);
        font-size: 1.15rem;
        font-weight: 600;
        text-align: left;
        line-height: 2rem;
        color: var(--fog-color);
        margin: .9rem 0 1.7rem;
        padding-bottom: 3.375rem;
        max-width: 100vw;
    }

    section.destination .destination__content .destination__stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: left;
        align-items: center;
        text-align: left;
        margin: 0 0 2.2rem;
        min-width: 100%;
        grid-gap: 2rem;
    }

    section.destination .destination__content .destination__stats > div {
        margin-bottom: 2rem;
    }

    section.destination .destination__content .destination__stats h5,
    section.destination .destination__content .destination__stats h6 {
        text-align: left;
    }
}