@import url(https://fonts.googleapis.com/css2?family=Bellefair&display=swap);
@import url(https://fonts.googleapis.com/css2?family=BarlowCondensed&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Barlow&display=swap);


*,*::before,*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --belleFair-font: "Bellefair", serif;
    --barlow-font: "Barlow", sans-serif;
    --barlowCondensed--font: "Barlow Condensed", sans-serif;

    --dark-color: hsl(230, 35%, 7%);
    --fog-color: hsl(231, 77%, 90%);
    --white-color: hsl(0, 0%, 100%);
    --half-trans: rgba(255, 255, 255, 0.5);
}

section.destination {
    min-height: 100vh;
    width: 100%;
    padding: 100px 20px 0 20px;
    background: url('/assets/destination/background-destination-mobile.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


section.destination .destination__img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

section.destination .destination__img-box h1.img-box__heading {
    margin-bottom: 3.75rem;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--barlowCondensed--font);
    font-weight: 400;
    color: var(--white-color);
}

section.destination .destination__img-box h1.img-box__heading > span {
    color: var(--half-trans);
}

section.destination .destination__img-box img#destination__img {
    width: 19rem;
 }


 section.destination .destination__content {
    margin: 1.7rem auto 0;
    text-align: center;
}

section.destination .destination__content .destination__navbar {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    grid-gap: 2.2rem;
}

section.destination .destination__content .destination__navbar a.navbar__link 
{
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--barlowCondensed--font);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 2.7px;
    text-align: center;
    margin-top: 1.8rem;
    padding-bottom: 0.9rem;
    position: relative;
    display: inline-block;
}

section.destination .destination__content .destination__navbar a.navbar__link::after {
    content: "";
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 3px;
    background: var(--white-color);
    bottom: 0; left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: .4s ease-out;
}

section.destination .destination__content .destination__navbar a.navbar__link:hover::after,
section.destination .destination__content .destination__navbar a.navbar__link:focus::after {
    transform: scaleX(100%);
}

section.destination .destination__content .destination__navbar a.navbar__link:focus::before {
    transform: scaleX(100%);
}


section.destination .destination__content h1#destination__title {
    font-family: var(--belleFair-font);
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 1.6rem;
}