@import url(https://fonts.googleapis.com/css2?family=Bellefair&display=swap);
@import url(https://fonts.googleapis.com/css2?family=BarlowCondensed&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Barlow&display=swap);


*,*::before,*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --belleFair-font: "Bellefair", serif;
    --barlow-font: "Barlow", sans-serif;
    --barlowCondensed--font: "Barlow Condensed", sans-serif;

    --dark-color: hsl(230, 35%, 7%);
    --fog-color: hsl(231, 77%, 90%);
    --light-color: hsl(0, 0%, 100%);
    --half-trans: rgba(255, 255, 255, 0.5);
}
section.destination {
    min-height: 100vh;
    width: 100%;
    padding-top: 8.5rem;
    background: url('/assets/destination/background-destination-mobile.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}