@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prim-violet: hsl(257, 40%, 49%);
    --prim-soft-magenta: hsl(300, 69%, 71%);
    --prim-white: hsl(0, 0%, 100%);
}



/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */