@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prim-violet: hsl(257, 40%, 49%);
    --prim-soft-magenta: hsl(300, 69%, 71%);
    --prim-white: hsl(0, 0%, 100%);
}

body {
    font-size: 16px;
    font-family: 'Open Sans', 'Poppins', sans-serif;
    color: var(--prim-white);
    background-color: var(--prim-violet);
    background-image: url('images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container {
    margin: auto;
    max-width: 100%;
    width: 90%;
}

/* div.container header {
    height: ;
    max-width: 100%;
}

div.container header img {
    width: ;
}


div.container main {}

div.container main div.hero-img {}
div.container main div.hero-img img {}

div.container main div.hero-content {}

div.container main div.hero-content h1 {}

div.container main div.hero-content p {}

div.container main div.hero-content button {}

div.container main div.hero-content button a {}


div.container footer {}

div.container footer ul.socials {}

div.container footer ul.socials li {}

div.container footer ul.socials li a {} */


/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */