@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/*---COLORS---*/
:root {
    --myWhite: hsl(0, 0%, 100%);
    --prim-soft-blue: hsl(215, 51%, 70%);
    --prim-cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: Outfit, sans-serif;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0rem auto;
    min-height: 100vh;
}

main {
    min-width: 200px;
    width: 330px;
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

main div.header-img {
    margin: 1.2rem 1rem .8rem;
    max-width: 290px;
    max-height: auto;
    height: 290px;
    position: relative;
    transition: all .5s ease-in-out;
}

main div.header-img:hover {
    cursor: pointer;
}

main div.header-img img.equilibrium {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

main div.header-img div.view {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -8%;
    top: -10%;
    transform: translate(50%, 50%);
    z-index: 999;
}

main div.header-img div.view img {
    visibility: hidden;
}

main div.header-img:hover div.view {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -8%;
    top: -10%;
    transform: translate(50%, 50%);
    z-index: 999;
}
main div.header-img:hover div.view img {
    visibility: visible;
}

main div.header-img:hover div.overlay {
    background-color: var(--prim-cyan);
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .5;
    top: 0;
    border-radius: 15px;
}
main div.header-img:hover div.overlay div.overlay-2 {
    mix-blend-mode: color-burn;
    background-color: var(--prim-cyan);
    position: absolute;
    opacity: .5;
    border-radius: 15px;
}

main div.main-content h2 {
    margin: .5rem 1.2rem 1rem;
    font-size: 24px;
    color: var(--myWhite);
    transition: color .5s ease-in-out;
}

main div.main-content h2:hover {
    color: var(--prim-cyan);
    cursor: pointer;
}

main div.main-content p {
    margin: 0 1.2rem 0;
    color: var(--prim-soft-blue);
    font-size: 15px;
    line-height: 1.5;
}

main div.main-content ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto 1rem;
}

main div.main-content ul li:first-of-type p {
    color: var(--prim-cyan);
    font-weight: 600;
}

main div.main-content ul li:last-child {
    margin-right: .3rem;
}

main div.main-content ul li p img {
    transform: scale(1.3);
}
main div.main-content ul li p img.crypto {
    width: .45rem;
}
main div.main-content ul li p img.clock {
    width: .8rem;
}

main div.avatar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* margin: 0rem 4rem 0 .3rem; */
    border-top: 2px solid var(--line-color);
    margin: 0 auto 1rem;
    font-size: 15px;
    width: 90%;
}

main div.avatar p {
    margin-left: 0;
    color: var(--prim-soft-blue);
}

main div.avatar img {
    transform: scale(.7);
    border: 2px solid var(--myWhite);
    border-radius: 100%;
    width: 2.5rem;
}

main div.avatar p span {
    color: var(--myWhite);
    transition: all .5s ease-in-out;
}

main div.avatar p span:hover {
    color: var(--prim-cyan);
    cursor: pointer;
}

footer.attribution {
    font-size: 13px;
    text-align: center;
    margin-top: .5rem;
}

footer.attribution p {
    line-height: 1.4;
    color: var(--prim-soft-blue);
    font-weight: 400;
}

footer.attribution p a {
    text-decoration: none;
    color: var(--prim-cyan);
    transition: all .5s ease-in-out;
}

footer.attribution p a:hover {
    font-weight: 600;
    color: var(--myWhite);
}

@media screen and (max-width: 1440px) {
    footer.attribution {
        font-size: 15px;
    }
}