@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --main-pale-blue: hsl(225, 100%, 94%);
    --main-bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --unsaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background: url('images/pattern-background-desktop.svg') no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.container {
    min-height: 80vh;
    min-width: 250px;
    width: 350px;
    margin: 1.5rem auto 1.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 3px var(--main-pale-blue), -2px -2px 3px var(--main-pale-blue), -2px 2px 3px var(--main-pale-blue), 2px -2px 3px var(--main-pale-blue);
}

h2, h3 {
    color: var(--dark-blue);
}

main.container section.header-img {
    height: 200px;
    width: auto;
    background: url('images/illustration-hero.svg') no-repeat;
    background-size: contain;
    border-radius: 10px 10px 0 0;
}

main.container section.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 2rem;
    text-align: center;
}

main.container section.content > h2 {
    font-weight: 900;
}

main.container section.content > p {
    color: var(--unsaturated-blue);
    font-size: .9rem;
    margin-top: .8rem;
}

main.container section.content div.plan {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    padding: 16px;
    margin: 1.6rem auto;
    box-shadow: 2px 2px 3px var(--main-pale-blue), -2px -2px 3px var(--main-pale-blue), -2px 2px 3px var(--main-pale-blue), 2px -2px 3px var(--main-pale-blue);
}

main.container section.content div.plan img {
    width: 2.5rem;
}

main.container section.content div.plan div.pricing-plan {
    margin-left: 1rem;
}

main.container section.content div.plan div.pricing-plan > h3 {
    font-size: .8rem;
    transform: scale(1.1);
    font-weight: 900;
}

main.container section.content div.plan div.pricing-plan > p {
    font-size: .9rem;
    color: var(--unsaturated-blue);
}

main.container section.content div.plan > p {
    margin-left: 2.2rem;
}

main.container section.content div.plan > p > a {
    margin-left: 2.2rem;
    color: var(--main-bright-blue);
    font-weight: 700;
    font-size: .9rem;
}

main.container section.content div.plan > p > a:hover {
    color: hsla(245, 75%, 52%, 0.705);
    text-decoration: none;
}

main.container section.content button {
    background-color: var(--main-bright-blue);
    border: none;
    outline: 0;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px var(--main-bright-blue);
}
main.container section.content button:hover {
    background-color: hsla(245, 75%, 52%, 0.705);
}
main.container section.content button a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
}


main.container section.content p.cancel {
    margin: 1rem auto 2rem;
}

main.container section.content p.cancel a {
    color: var(--unsaturated-blue);
    text-decoration: none;
    font-weight: 700;
}

main.container section.content p.cancel:hover a {
    color: var(--dark-blue);
}



footer.attribution {
    font-size: 13px;
    text-align: center;
}

footer.attribution p {
    line-height: 1.4;
    color: var(--dark-blue);
    font-weight: 700;
}

footer.attribution p a {
    text-decoration: none;
    color: var(--main-bright-blue);
    transition: all .5s ease-in-out;
}


@media only screen and (max-width: 375px) {
    body {
        background: url('images/pattern-background-mobile.svg') no-repeat;
    }
}